<!DOCTYPE>
<html>
    <head>
        <title>speedSample</title>

        <script language="javascript" src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="css/bootstrap-reboot.css"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>

        <script>
            const signalkHost = '{{host}}:{{port}}';
            const subscriptionPath_Speed = '{{subscriptionPath_Speed}}';
        </script>
    </head>
    <body style="background-color:#32383e">


    <br>
        <div class="text-center">
            <button id="startTimer" type="submit" class="btn btn-success center">Start</button>

                <div id="error-msg" class="alert alert-danger"  style="visibility:hidden;max-width:50%;margin:auto;"  role="alert">
                  foobar
                </div>
            <br>
            <div class="progress" id="progressBar" style="visibility:hidden;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="120"></div>
            </div>
        </div>
     <br>


        <table class="table table-striped table-dark table-hover" id="resultTable">
            <thead>
            <tr><th>Start time</th><th>Speed</th></tr>
            </thead>
        </table>

    <script language="javascript" src="js.js"></script>
    </body>
</html>
